{% extends 'base.html' %}
{% block title %}Pyplot | Bar Plot {% endblock %}
{% block name %} Bar Plot {% endblock %} 
{% block name2 %} Bar Plot {% endblock %} 

{% block form %}

   <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label  class="form-label">Title</label>
                <input type="text" class="form-control"  name="title">
            </div>

            <div class="mb-3">
              <label class="form-label">X Input</label>
              <input type="text" class="form-control" name="x">
              <div  class="form-text">Ex input : 10,20,30,40</div>
            </div>

            <div class="mb-3">
              <label class="form-label">Y Input</label>
              <input type="text" class="form-control"  name="y">
              <div  class="form-text">Ex input : India,America,Dubai,China</div>
            </div>

            <div class="mb-3">
              <label class="form-label">X Label</label>
              <input type="text" class="form-control" name="x-l">
            </div>

            <div class="mb-3">
              <label  class="form-label">Y Label</label>
              <input type="text" class="form-control"  name="y-l">
            </div>

            <div class="mb-3">
                <label  class="form-label">Color</label>
                <input type="color"  name="clr">
            </div>

            <div class="mb-3">
                <label  class="form-label">Width</label>
                <input type="number" class="form-control" name="wdi" min="0" max="0.9" value="0.8" step="0.01">
            </div>

            <div class="mb-3">
                <label  class="form-label">Orientation</label><br>
                <input type="radio" name="hz" value="yes">
                <label class="form-label">Vertical</label><br>
                <input type="radio" name="hz" value="no">
                <label class="form-label">Horizontal</label><br>
            </div>

            <div class="mb-3">
                <label  class="form-label">Grid</label><br>
                <input type="radio" name="gd" value="yes">
                <label class="form-label">Yes</label><br>
                <input type="radio" name="gd" value="no">
                <label class="form-label">No</label><br>
            </div>

            <div class="mb-3">
                <label  class="form-label">Legend</label><br>
                <input type="radio" name="lg" value="yes">
                <label class="form-label">Yes</label><br>
                <input type="radio" name="lg" value="no">
                <label class="form-label">No</label><br>
            </div>




            <input type="submit" value="Create" id="btn" class="btn btn-primary">
          </form>
          

{% endblock%}
