{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyPlot</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
  .w-full{
    height: 100%;
  }
</style>
<body>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Select The Type of Graph2 </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Linear Plot</h2>
            <p class="leading-relaxed text-base">A linear plot, or line plot, is a graph where data points are connected by straight lines. It's a visual representation that shows how one variable changes in relation to another, typically with the x-axis representing the independent variable and the y-axis representing the dependent variable. Linear plots are commonly used to display trends or patterns in data.
            </p>
            <a href="linear"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Scatter Plot</h2>
            <p class="leading-relaxed text-base">
              A scatter plot is a type of graph that displays individual data points on a two-dimensional plane. Each point represents the values of two variables, typically one on the x-axis and the other on the y-axis. Scatter plots are useful for visually identifying patterns, relationships, or trends in the data</p>
          
            <a href="scatter"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" name="scatter">Create</button></a>
           
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bar Plot</h2>
            <p class="leading-relaxed text-base">A bar plot, or bar chart, is a visual representation of data using rectangular bars or columns. Each bar's length or height corresponds to the quantity it represents. Bar plots are commonly used to compare and display the values of different categories or groups in a dataset, making it easy to identify trends or variations among them</p>
            <a href="bar"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Pie Plot</h2>
            <p class="leading-relaxed text-base">
              A pie plot, or pie chart, is a circular statistical graphic that is divided into slices to illustrate numerical proportions. Each slice represents a proportion of the whole, and the size of each slice is proportional to the quantity it represents. Pie charts are effective for displaying the distribution of a categorical variable and are particularly useful for highlighting the relative sizes of different components within a whole.</p>
            <a href="pie"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Histogram Plot</h2>
            <p class="leading-relaxed text-base">
              A histogram plot is a visual representation of the distribution of data. It uses bars to display the frequency of values within different ranges. The x-axis represents the data range, and the y-axis shows the frequency of occurrences. Histograms are useful for understanding the overall pattern and distribution of a dataset. </p>
            <a href="histogram"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Stem Plot</h2>
            <p class="leading-relaxed text-base">A stem plot, also known as a stem-and-leaf plot, is a visual representation of a dataset that displays individual data points. It separates each data point into a "stem" (most significant digit) and a "leaf" (least significant digit). The stems are typically listed in a vertical column, and the leaves are placed next to them, forming a histogram-like structure. Stem plots are useful for showing the distribution and range of a dataset while preserving individual data values.</p>
            <a href="stem"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Stack Plot</h2>
            <p class="leading-relaxed text-base">A stack plot is a graphical representation that shows the contribution of individual components to a whole over time or along a categorical axis. It consists of multiple filled areas stacked on top of each other, each representing a different category or component. Stack plots are effective for illustrating the cumulative effect of several variables and how their contributions evolve in relation to the total.</p>
            <a href="stack"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Stair Plot</h2>
            <p class="leading-relaxed text-base">
              A stair plot, also known as a step plot, is a type of graph that represents discrete changes in a dataset. Instead of connecting data points with straight lines, stair plots use horizontal and vertical line segments to show the stepwise progression between consecutive data points. This type of plot is often used to emphasize the specific values at each point and is particularly useful when visualizing data that changes abruptly or at distinct intervals.</p>
            <a href="stair"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Hex Plot</h2>
            <p class="leading-relaxed text-base">
              A hex plot, short for hexagonal binning plot, is a two-dimensional representation of data that divides the space into hexagonal bins. Each hexagon represents a group of data points, and the color or intensity within the hexagon indicates the density of points in that region. Hex plots are useful for visualizing the distribution and relationships between two variables, especially when dealing with large datasets, as they provide a smoothed representation of data density.</p>
            <a href="hex"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        <div class=" md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Trip Plot</h2>
            <p class="leading-relaxed text-base">In Trip Plot x and y are arrays of coordinates defining a triangulation. The triplot function is commonly used for plotting triangulations in a 2D space. Each pair of coordinates (x[i], y[i]) represents a point in the triangulation, and the function connects these points to create triangles.</p>
            <a href="trip"><button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create</button></a>
          </div>
        </div>

        
      </div>
    </div>
  </section>

</body>
</html>
