{% extends 'base.html' %}
{% block title %}Pyplot | Trip Plot {% endblock %}
{% block name %} Trip Plot {% endblock %} 
{% block name2 %} Trip Plot {% endblock %} 

{% block form %}

   <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label  class="form-label">Title</label>
                <input type="text" class="form-control"  name="title">
            </div>

            <div class="mb-3">
              <label class="form-label">X Input</label>
              <input type="text" class="form-control" name="x">
              <div  class="form-text">Ex input : 10,20,30,40</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Y Input</label>
                <input type="text" class="form-control" name="y">
                <div  class="form-text">Ex input : 10,20,30,40</div>
              </div>


            <div class="mb-3">
              <label class="form-label">X Label</label>
              <input type="text" class="form-control" name="x-l">
            </div>

            <div class="mb-3">
              <label  class="form-label">Y Label</label>
              <input type="text" class="form-control"  name="y-l">
            </div>


            <div class="mb-3">
                <label  class="form-label">Grid</label><br>
                <input type="radio" name="gd" value="yes">
                <label class="form-label">Yes</label><br>
                <input type="radio" name="gd" value="no">
                <label class="form-label">No</label><br>
            </div>

            <div class="mb-3">
                <label  class="form-label">Legend</label><br>
                <input type="radio" name="lg" value="yes">
                <label class="form-label">Yes</label><br>
                <input type="radio" name="lg" value="no">
                <label class="form-label">No</label><br>
            </div>




            <input type="submit" value="Create" id="btn" class="btn btn-primary">
          </form>
          

{% endblock%}
